.DS_Store
baseline/.DS_Store
endline/.DS_Store
endline/data/farmer/raw/.Rhistory
papers/clearinghouse_training_paper/#clearinghouse_training_paper.lyx#
papers/clearinghouse_training_paper/.Rhistory
Study design/treatments/training/training_attendance.csv
papers/clearinghouse_training_paper/AER_revisions/AER_revisions.pdf
papers/clearinghouse_training_paper/AER_revisions/letter_to_editor_example.pdf
papers/clearinghouse_training_paper/clearinghouse_training_paper.lyx~
papers/learning_failures/EAAE_logo.png
papers/learning_failures/miracle_seeds_EAAE.lyx
papers/learning_failures/miracle_seeds_EAAE.lyx~
.gitignore.save
Study design/.Rhistory
baseline/questionnaires/farmer/baseline_farmer.xls
